# EGC4040-05 Homework 1

EGC4040-05 인공지능프로그래밍 기초와실습 과제 01입니다. 

주어진 설명을 잘 읽고, 빈 셀에 코드를 작성하시기 바랍니다. 
과제를 완성한 후, **EGC4040_HW_01_학번_이름.ipynb**로 파일을 저장한 후 eclass의 과제제출을 통해 제출하세요.

## E-1: 문자열과 연산자

### E-1 (1)
다음의 실행 결과가 나오게 하는 코드를 빈칸에 채워넣으세요.

실행 결과:
```
235
```

In [43]:
# E-1 (1)
myVar1 = "2"
myNum1 = 35

# your code here

print(myVar1 + str(myNum1))

235

### E-1 (2)
문자열의 합과 곱을 이용하여 아래와 같은 실행 결과가 나오도록 코드를 작성하세요.

실행 결과:
```
python java python java python java python java 
```

In [42]:
# E-1 (2)
one = 'python'
two = 'java'

# your code here

print ((one + ' ' + two + ' ')*4)

python java python java python java python java

## E-2: 리스트, 튜플, 딕셔너리, 집합

### E-2 (1)

다음의 리스트가 주어졌을 때, 리스트를 정렬하고 맨 끝에 0을 삽입하는 코드를 작성하세요.

실행 결과:
```
[5, 8, 11, 29, 34, 0]
```

In [41]:
# E-2 (1)
myList = [11, 34, 8, 29, 5]

# your code here

myList.sort()
myList.append(0)

print(myList)

[5, 8, 11, 29, 34, 0]

### E-2 (2)
다음의 딕셔너리가 주어졌을 때, `key2`의 value 안에 위치한 값인 `10`을 확인하고 출력하는 코드를 작성하세요. 

실행 결과:
```
10
```

In [40]:
# E-2 (2)
myDict = {'key1' : 15, 'key2' : {'key1' : 10, 'key2' : 20}}

# your code here

print(myDict['key2']['key1'])

10

### E-2 (3)
아래의 표에서 물건의 이름을 key로, [가격, 재고] 리스트를 value로 하여 딕셔너리를 생성하고, 죠스바의 재고를 출력하세요.

```
|   이름   |  가격   |  재고  |
|  동원참치 |  3000  |   20  |
|  맛동산   |  2500  |  10  |
|  죠스바   |  1000  |  15  |
```

실행 결과
```
15
```

In [39]:
# E-2 (3)
myDict = {'동원참치':[3000, 20], '맛동산':[2500,10], '죠스바':[1000, 15]}

# your code here
myList = (list(myDict.values())[2])
print (list(myList)[1])

15

## E-3: 조건문, 제어문


### E-3 (1)
while 문으로 작성된 다음의 반복문을 for 문을 이용한 반복문으로 바꾸어 구현하세요. 

```
x = 0
while x < 6:
  if x % 2 == 0:
    pass
  else:
    print(x)

  x += 1
```

실행 결과:
```
1
3
5
```

In [38]:
# E-3 (1)

# your code here

for var in range(1, 6, 2) :
    print(var)

1
3
5


### E-3 (2)
for 문과 if 문, break 등을 활용하여 1부터 30까지의 숫자 중 소수(prime number)를 출력하는 프로그램을 작성하세요. 

실행 결과:
```
2
3
5
7
11
13
17
19
23
29
```

In [37]:
# E-3 (2)

# your code here
for i in range(2, 30):
    chk = True
    for j in range(2,i):
          if i%j == 0:
                  chk = False
                  break
    if chk:
          print(i)

2
3
5
7
11
13
17
19
23
29


### E-3 (3)
for 문을 이용하여 5단부터 7단까지 구구들을 출력하는 프로그램을 작성하세요.

실행 결과:
```
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
...중략...
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
```

In [36]:
# E-3 (3)

# your code here

for dan in range(5, 8) :
    for i in range(1, 10) :
          print(f'{dan}x{i} = {dan*i}')

5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54
7x1 = 7
7x2 = 14
7x3 = 21
7x4 = 28
7x5 = 35
7x6 = 42
7x7 = 49
7x8 = 56
7x9 = 63

## E-4: 예외 처리

예외가 발생되는 부분을 찾아 예외처리를 고려하여 수정하세요. 

```
year = 2020
for var in range(10):
  if year % var == 0:
    print('%d로 나누어 떨어집니다' %var)
```

수정한 실행 결과:
```
오류입니다.
1로 나누어 떨어집니다
2로 나누어 떨어집니다
4로 나누어 떨어집니다
5로 나누어 떨어집니다
```

In [35]:
# E-4

# your code here

try:
    year = 2020
    for var in range(10) :
        if year % var == 0 :
          print(f'{var}로 나누어 떨어집니다')
    
except:
    print('오류입니다.')

finally:
    for var in range(1,10) :
        if year % var == 0 :
          print(f'{var}로 나누어 떨어집니다')

오류입니다.
1로 나누어 떨어집니다
2로 나누어 떨어집니다
4로 나누어 떨어집니다
5로 나누어 떨어집니다